/*
pdc-sock-color: #e2cdfd;
pdc-main-color: #b775fc;
*/

@font-face {
    font-family: uaSquared;
    src: url(fonts/UASQUARE.TTF);
}

nav a {
    font-size: 1.75rem;
    color: #e2cdfd;
}

a {
    color: #b775fc;
}

a:hover {
    color: #ffb60c;
}

.pdc-button {
    color: #edb73b;
    transition: unset;
    font-size: 1.4rem;
}

.pdc-button:hover {
    color: #e2cdfd;
    background-color: #6c757d;
    border-radius: 0.25rem;
    transition: unset;
}

.pdc-logo-font {
    font-family: uaSquared;
}

.pdc-bg-purple {
    background-color: #9c8bb2;
}

.pdc-bg-turquoise {
    background-color: #40E0D0;
}

.pdc-text-turquoise-dark {
    color: #30a599;
}

.pdc-article-header {
    font-size: 1.6rem;
}

.pdc-article-text {
    font-size: 1.1rem;
    font-family: serif;
}

.pdc-article-text h2 {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1.3rem;
}

.header-logo {
    width: 150px;
    height: 150px;
    border: 2px solid #8968ff;
    border-radius: 10%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.header-title {
    font-size: 4.5rem;
    overflow-wrap: break-word;
}

.feature-link-image {
    border: 1px solid #40E0D0;
    border-radius: 1%;
    width: 460px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
