<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Personal portfolio of Maria Camenzuli.">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>{{ page.title }}</title>

        <link rel="alternate" type="application/rss+xml" title="Personal portfolio of Maria Camenzuli." href="/feed.xml">
        <link rel="shortcut icon" type="image/x-icon" href="/assets/images/favicon.ico">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="/assets/style/purpledevcat.css"">
    </head>

<body>
    <header class="text-center pdc-bg-purple">
        <div class="container pt-5 pb-5">
            <a href="/">
                <img class="img-fluid header-logo" src="/assets/images/pdc-backlight.png" width="150" alt="Cat Logo">
            </a>
            <span class="pdc-logo-font display-1 align-middle pl-4">maria camenzuli</span>
        </div>

        <nav class="nav justify-content-center pt-1 pb-1 mb-4 bg-dark pdc-logo-font">
            <a class="nav-link pdc-button" href="/">PROJECTS</a>
            <a class="nav-link pdc-button" href="/writing.html">WRITING</a>
        </nav>
    </header>

    <div class="container pdc-content">
        {{ content }}
    </div>

    <footer class="text-center text-muted mt-5 mb-5 font-italic">
        <div class="mb-3">
            <a href="https://github.com/mariacamenzuli"><img src="/assets/images/icon-github.svg" width="32" height="32" alt="GitHub"></a>
            <a href="/feed.xml"><img src="/assets/images/icon-rss.svg" width="32" height="32" alt="RSS"></a>
        </div>
        <span>Unless otherwise noted, all content is licensed under a<br><a href="https://creativecommons.org/licenses/by-nc/4.0/">Attribution-NonCommercial 4.0 International (CC BY-NC 4.0) license</a>.</span>
    </footer>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>
