---
layout: default
---

<article>
    <span class="font-italic pdc-text-turquoise-dark">{{ page.date | date: "%B %e, %Y" }}</span>
    <header><h1 class="pdc-article-header font-weight-bold">{{ page.title }}</h1></header>
    <div class="pdc-article-text">
        {{ content }}
    </div>
    <hr>
</article>

<aside class="social-share">
    <h5>Share this post:</h5>

    <ul>
        <li><a href="https://twitter.com/intent/tweet?url={{ site.url | cgi_escape  }}{{ page.url | cgi_escape }}&text={{ page.title | cgi_escape }}" title="Share on Twitter">Twitter</a></li>
        <li><a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url | cgi_escape }}{{ page.url | cgi_escape }}&src=sdkpreparse" title="Share on Facebook">Facebook</a></li>
    </ul>
</aside>
